.footer {
    width: 100%;
    border-top: 1px solid #CACACA;
}

.footer-top {
    display: flex;
    border-bottom: 1px solid #CACACA;
}

.footer-left {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding: 80px 60px 40px 60px;
    border-right: 1px solid #CACACA;
    line-height: 1.6;
    font-size: 14px;
}

.footer-logo {
    width: 190px;
}

.footer-right {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 80px 60px 40px 60px;

    h4 {
        font-size: 17px;
        margin-bottom: 30px;
    }
}

.contact p {
    margin: 8px 0;
    font-size: 15px;
    display: grid;
    grid-template-columns: 48px 20px auto;
    color: #1E2833;
}

.footer-icons {
    display: flex;
    gap: 12px;
}

.footer-icons img {
    height: 20px;
}

.footer-bottom {
    text-align: center;
    font-size: 15px;
    color: #8F9499;
    padding: 28px 0;
}