body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: block;
  color: black;
  font-family: "Pretendard", sans-serif;
}

/* topbar */
.topbar {
  width: 100%;
  background-color: #09316b;
  padding: 8px 0;
}

.topbar__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar__nav a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  margin-left: 50px;
}

.topbar__nav .divider {
  display: none;
}

.header__inner {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  height: 42px;
}

.header__title {
  font-size: 18px;
  font-weight: 700;
  color: black;
  line-height: 1.4;
}

.header__nav {
  position: relative;
}

/* main-menu */
.main-menu {
  display: flex;
  list-style: none;
  gap: 95px;
  padding-right: 90px;
  margin: 0;
}

.main-menu a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 0;
}

.main-menu li a {
  padding: 12px 0;
  display: block;
}

.menu-column a {
  padding: 12px 0;
  color: black;
  text-decoration: none;
  font-weight: 400;
  line-height: 2.0;
}

/* dropdown */
.mega-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  background: white;
  padding: 30px 0 40px;

  justify-content: center;
  gap: 80px;

  box-shadow: none;
  border: none;
}

/* hover 관련 */
.header__nav:hover .mega-dropdown {
  display: flex;
}

.menu-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-column h4 {
  display: none;
}

.menu-column a {
  padding: 6px 0;
  color: black;
  text-decoration: none;
  font-weight: 400;
}